<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** Override DB settings per environment ** //
define('WP_HOME','{{ wordpress.http_proto }}://' . $_SERVER['HTTP_HOST']);
define('WP_SITEURL','{{ wordpress.http_proto }}://' . $_SERVER['HTTP_HOST']);

// ** Move the uploads directory from wp-content/uploads.
define('UPLOADS', 'media');

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wordpress.mysql_db }}');

/** MySQL database username */
define('DB_USER', '{{ wordpress.mysql_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ wordpress.mysql_password }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', '{{ wordpress.mysql_encoding }}'); /* UTF-8 */

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '{{ wordpress.mysql_collation }}');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
{{ unique_keys.content }}

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '{{ wordpress.table_prefix }}';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);
define('WP_DEBUG_DISPLAY', false);
define('BS_ENVIRONMENT', "prod");
define('WP_DEBUG_LOG', false);
define('WP_MEMORY_LIMIT', '3000M');

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
